.blok{
    padding: 30px;
    display: flex;
    justify-content: center;
    position:absolute;
    width: 350px;
    height: 175px;
    background-color: rgb(200,200,200,0.6);
    border-radius: 50%;
    font-size: 14.5px;
    border: 1px solid black;
    align-items: center;
}

.b1{
    left: 120px;
    top: 250px;
}

.b2{
    left: 600px;
    top: 130px;
}

.b3{
    left: 600px;
    top: 20px;
}

.b4{
    right: 100px;
    bottom: 150px;
}