.improve{
    display: flex;
    justify-content: center;
    position:relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
    background-color: rgb(45,45,45,0.6);
    border-radius: 15%;
    font-size: 36px;
    border: 1px solid black;
    align-items: center;
}